## Network where to deploy contracts
# options=[hardhat, polygon, mumbai, goerli]
NETWORK="hardhat"
VERIFY_CONTRACTS=false

## Etherscan explorer API config
ETHERSCAN_API_KEY="put your key here plz"
MAINNET_URL="https://api.etherscan.io/"
GOERLI_RPC_URL="https://api-goerli.etherscan.io/"

## Polyscan explorer API config
POLYSCAN_API_KEY="put your key here plz"
POLYGON_RPC_URL="https://api.polygonscan.com/"
MUMBAI_RPC_URL="https://api-testnet.polygonscan.com/"

##Solidity config settings
OPTIMIZER_FLAG=true
OPTIMIZER_RUNS=200

## Ganache config
GANACHE_RPC_URL="http://127.0.0.1:8545"
GANACHE_PRIVATE_KEY="put your key here plz"

## Account private keys
AP_TEAM_1_KEY="0x036803cfb0810e2d3e9a8773179e47a7747155d17974a619f6cd130be0590556"  # Dummy wallet for CI purposes replace with own
AP_TEAM_1_ADDRESS="0xd14f192084c1cdd017caacb1d9109f0507fc1c46"  # dummy wallet for ci purposes replace with own 
AP_TEAM_2_KEY="0x02490597040bcc85ebe1a32fb86947a7e8438336546dc2b40d0073155928afc0"  # Dummy wallet for CI purposes replace with own
AP_TEAM_2_ADDRESS="0x227697696dfe318EdaE63A872c9518097468536f"  # dummy wallet for ci purposes replace with own 
AP_TEAM_3_KEY="0x0267e434d3221ddee2343adbe9e8a0102eec867257bec6ba83065f1742b6929b"  # Dummy wallet for CI purposes replace with own
AP_TEAM_3_ADDRESS="0x15e6032069c47fEE8615CFd40362001E8d7E0800"  # dummy wallet for ci purposes replace with own 
