## Network where to deploy contracts
# options=[hardhat, polygon, mumbai, goerli]
NETWORK="hardhat"
VERIFY_CONTRACTS=false
PROD_NETWORK_ID=0

## Etherscan explorer API config
ETHERSCAN_API_KEY=""
MAINNET_URL="https://api.etherscan.io/"
GOERLI_RPC_URL="https://api-goerli.etherscan.io/"

## Polyscan explorer API config
POLYSCAN_API_KEY=""
POLYGON_RPC_URL="https://api.polygonscan.com/"
MUMBAI_RPC_URL="https://api-testnet.polygonscan.com/"

##Solidity config settings
OPTIMIZER_FLAG=true
OPTIMIZER_RUNS=200

## Ganache config
GANACHE_RPC_URL="http://127.0.0.1:8545"
GANACHE_PRIVATE_KEY=""

ROUTER_ADDRESS=""

## Account private keys
DEPLOYER_KEY=""
DEPLOYER_ADDRESS=""
PROXY_ADMIN_KEY=""
PROXY_ADMIN_ADDRESS=""
AP_TEAM_1_KEY=""
AP_TEAM_1_ADDRESS=""
AP_TEAM_2_KEY=""
AP_TEAM_2_ADDRESS=""
AP_TEAM_3_KEY=""
AP_TEAM_3_ADDRESS=""
