## Local env
node_modules
.idea
package-lock.json
.yarnclean
yarn-error.log
.vscode
.env
.prettierrc
.nvmrc
dist
tasks/temp_index.ts

#Hardhat files
cache
artifacts
.openzeppelin

# typechain
typechain-types
eth-sdk/abis/*
