## Local env
node_modules
.idea
package-lock.json
.yarnclean
.vscode
.env
.prettierrc
.nvmrc
contract-address-local.json
dist

#Coverage files
coverage

#Hardhat files
cache
artifacts
.openzeppelin

# Py
Pipfile.lock